In [1]:
import pandas as pd

In [2]:
coffee = pd.read_csv('warmup-data/coffee.csv')

Basic Commands

In [25]:
#coffee.head()
#coffee.tail()
#coffee.describe()
#coffee.columns.to_list()
#coffee.index.to_list()
#coffee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Day          14 non-null     object
 1   Coffee Type  14 non-null     object
 2   Units Sold   14 non-null     int64
dtypes: int64(1), object(2)
memory usage: 468.0+ bytes

Acessing Data

In [20]:
#coffee.loc[0:3, ["Day", "Coffee Type"]]
#coffee.loc[[0, 1, 4], "Units Sold"]
#coffee.iloc[0, 0]
#coffee.iloc[0:4, 0:2]

       Day Coffee Type
0   Monday    Espresso
1   Monday       Latte
2  Tuesday    Espresso
3  Tuesday       Latte

In [22]:
bios = pd.read_csv("data/bios.csv")

In [23]:
bios.head()

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
0,1,Jean-François Blanchy,1886-12-12,Bordeaux,Gironde,FRA,France,NaN,NaN,1960-10-02
1,2,Arnaud Boetsch,1969-04-01,Meulan,Yvelines,FRA,France,183.0,76.0,NaN
2,3,Jean Borotra,1898-08-13,Biarritz,Pyrénées-Atlantiques,FRA,France,183.0,76.0,1994-07-17
3,4,Jacques Brugnon,1895-05-11,Paris VIIIe,Paris,FRA,France,168.0,64.0,1978-03-20
4,5,Albert Canet,1878-04-17,Wandsworth,England,GBR,France,NaN,NaN,1930-07-25

Filtering Data

In [58]:
#bios.loc[bios["height_cm"] > 223.0]

#bios.loc[bios["height_cm"] > 200.0][["name", "NOC"]]

#bios.loc[bios["born_country"] == "USA"]

#bios.loc[(bios["height_cm"] > 180.0) & (bios["born_country"] == "FRA")][["name"]]

bios[bios["name"].str.contains("Ronaldo")]

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
24023,24210,Ronaldo,1974-02-18,Piracicaba,São Paulo,BRA,Brazil,186.0,77.0,NaN
24027,24214,Ronaldo,1976-09-22,Bento Ribeiro,Rio de Janeiro,BRA,Brazil,183.0,81.0,NaN
24071,24258,Ronaldo Moraes,1962-03-02,Guarujá,São Paulo,BRA,Brazil,174.0,65.0,NaN
35548,35827,Ronaldo de Carvalho,1959-10-01,Rio de Janeiro,Rio de Janeiro,BRA,Brazil,181.0,82.0,NaN
63154,63624,Ronaldo Senfft,1954-07-12,Rio de Janeiro,Rio de Janeiro,BRA,Brazil,170.0,83.0,NaN
65037,65527,Ronaldo da Costa,1970-06-07,Descoberto,Minas Gerais,BRA,Brazil,167.0,52.0,NaN
66194,66699,Ronaldo Lanzoni,1959-08-21,San José,San José,CRC,Costa Rica,182.0,73.0,NaN
102009,102944,Cristiano Ronaldo,1985-02-05,Funchal,Região Autónoma da Madeira,POR,Portugal,186.0,80.0,NaN
144003,147667,Ronaldo Deaconu,1997-05-13,București (Bucharest),București,ROU,Romania,178.0,NaN,NaN